name: CI - Run Pytest in Docker

on:
  push:
    branches:
      - feature_branch  # Exécute uniquement sur feature_branch
  pull_request:
    branches:
      - main  # Vérifie les tests lors d'une PR vers main

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4  # Récupère le code source

      - name: Build Docker image
        run: |
          docker build -t my-python-tests .

      - name: Run tests inside container
        run: |
          docker run --rm my-python-tests
